
*{
display:flex;
flex-direction:row;
row-gap:0.5rem;
column-gap:0.5rem;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
background-color:#fef6e4;
}

title{
display:none;
}

section.head{
background-color:#8bd3dd;
padding: 10px;
border: 1px solid white;
border-radius: 20px;
}

h1 {
font-family: sans-serif;
color:#001858;
}
/*
h2 {
font-family: "Montserrat Alternates";
}

h3 {
font-family: "Martel";
}
*/

section.certs{
flex-basis:50%;
padding:10px;
border: 1px solid black;
border-radius:10px;
}

section.proyectos{
flex-basis: 50%;
flex-grow:1;
display: inline-block;
padding: 10px;
border: 1px solid black;
border-radius: 10px;
}

section.about{
flex-basis:49%;
flex-grow:1;
padding:10px;
border: 1px solid black;
border-radius:10px;
}

section.contenidos{
flex-basis:100%;
padding: 10px;
border: 1px solid white;
border-radius: 10px;
}
section.contact{
 padding: 10px;
 border: 1px solid white;
 border-radius: 10px;
flex-basis:100%;
}

section.foot{
flex-basis:100%;

}


h2 {
font-family:"Arial";
}

h3 {
font-family:"serif";
}

