
*{
display:flex;
flex-direction:row;
row-gap:0.5rem;
column-gap:0.5rem;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
background-color:#fef6e4;
}

title{
display:none;
}

section.head{
background-color:#8bd3dd;
}

h1 {
font-family: sans-serif;
color:#001858;
}
/*
h2 {
font-family: "Montserrat Alternates";
}

h3 {
font-family: "Martel";
}
*/


section.proyectos{
flex-basis: 50%;
flex-grow:1;
display: inline-block;
}

section.about{
flex-basis:49%;
flex-grow:1;
}

section.contenidos{
flex-basis:100%;

}
section.contact{
flex-basis:100%;
}

section.foot{
flex-basis:100%;

}


h2 {
font-family:"Arial";
}

h3 {
font-family:"serif";
}

